<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.py</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Python) - Theme (Breeze Light)"/>
</head><body style="background-color:#ffffff;color:#1f1c1b"><pre>
<span style="color:#898887;"># comment with </span><span style="color:#e85848;background-color:#451e1a;font-weight:bold;">ALERT</span>

<span style="color:#898887;">''' multiline</span>
<span style="color:#898887;">    comment</span>
<span style="color:#898887;">    </span><span style="color:#81ca2d;background-color:#f7e6e6;font-weight:bold;">###</span>
<span style="color:#898887;">    '''</span>

<span style="color:#ca60ca;">//</span> alert check, no word delimiter check at start of word, bug <span style="color:#b08000;">397719</span>
<span style="color:#898887;">#</span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span>

a <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">100_000</span>
b <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">856_264.65</span>
c <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">0x420_F52</span>

<span style="font-weight:bold;">def</span> func(x):
    <span style="color:#898887;">&quot;&quot;&quot; EXTENDED API docs &quot;&quot;&quot;</span>
    <span style="font-weight:bold;">if</span> x <span style="color:#ca60ca;">==</span> <span style="color:#b08000;">42</span>:
        func()
        c1 <span style="color:#ca60ca;">=</span> {}
        c2 <span style="color:#ca60ca;">=</span> {
            <span style="color:#b08000;">2.4</span>,
            <span style="color:#b08000;">0x42</span>,
            }
        a1 <span style="color:#ca60ca;">=</span> []
        a2 <span style="color:#ca60ca;">=</span> [
            <span style="color:#bf0303;">&quot;a&quot;</span>, <span style="color:#b08000;">0</span><span style="color:#bf0303;text-decoration:underline;">32</span>, (
                )]
    <span style="font-weight:bold;">else</span>:
        <span style="color:#644a9b;font-weight:bold;">print</span>(<span style="color:#bf0303;">&quot;&quot;&quot;multi</span>
<span style="color:#bf0303;">            line</span>
<span style="color:#bf0303;">            string&quot;&quot;&quot;</span>)
        <span style="color:#644a9b;font-weight:bold;">print</span>(<span style="color:#bf0303;">&quot;single </span><span style="color:#924c9d;">\</span>
<span style="color:#bf0303;">                continued line &quot;</span>)
        <span style="color:#644a9b;font-weight:bold;">print</span>(<span style="color:#bf0303;">'single line'</span>)
    <span style="font-weight:bold;">return</span> <span style="color:#644a9b;font-weight:bold;">float</span>(<span style="color:#644a9b;font-weight:bold;">len</span>(a2))


<span style="font-weight:bold;">def</span> test_f_literals():
    <span style="color:#ff5500;">f'xy'</span>
    <span style="color:#ff5500;">f'x</span><span style="color:#3daee9;">{</span>bar<span style="color:#3daee9;">}</span><span style="color:#ff5500;">y'</span>
    <span style="color:#ff5500;">f'x</span><span style="color:#3daee9;">{</span>bar[<span style="color:#bf0303;">&quot;baz&quot;</span>]<span style="color:#3daee9;">}</span><span style="color:#ff5500;">y'</span>
    <span style="color:#ff5500;">f'x</span><span style="color:#3daee9;">{</span>bar[<span style="color:#bf0303;">&quot;baz&quot;</span>]<span style="color:#3daee9;">}</span><span style="color:#ff5500;">y</span><span style="color:#924c9d;">\n</span><span style="color:#ff5500;">'</span>

    <span style="color:#ff5500;">f'x</span><span style="color:#3daee9;">{</span>bar[<span style="color:#bf0303;">&quot;baz&quot;</span>]<span style="color:#3daee9;">!r}</span><span style="color:#ff5500;">y</span><span style="color:#924c9d;">\n</span><span style="color:#ff5500;">'</span>
    <span style="color:#ff5500;">f'x</span><span style="color:#3daee9;">{</span>bar[<span style="color:#bf0303;">&quot;baz&quot;</span>]<span style="color:#3daee9;">:.2}</span><span style="color:#ff5500;">y</span><span style="color:#924c9d;">\n</span><span style="color:#ff5500;">'</span>

    <span style="color:#ff5500;">f'</span><span style="color:#924c9d;">{{</span><span style="color:#ff5500;">x</span><span style="color:#3daee9;">{</span>bar[<span style="color:#bf0303;">&quot;baz&quot;</span>]<span style="color:#3daee9;">:.2}</span><span style="color:#924c9d;">}}</span><span style="color:#bf0303;text-decoration:underline;">}</span><span style="color:#ff5500;"> </span><span style="color:#924c9d;">}}</span><span style="color:#ff5500;"> </span><span style="color:#924c9d;">{{</span><span style="color:#ff5500;"> </span><span style="color:#3daee9;">{</span>x<span style="color:#3daee9;">!a}</span><span style="color:#ff5500;">'</span>

a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">&quot;Escapes in String </span><span style="color:#924c9d;">\U12345678</span><span style="color:#bf0303;"> </span><span style="color:#924c9d;">\xAB</span><span style="color:#bf0303;"> </span><span style="color:#924c9d;">\&quot;</span><span style="color:#bf0303;">&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">u'''</span><span style="color:#924c9d;">\'</span><span style="color:#bf0303;">''</span>
<span style="color:#bf0303;">'''</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">u'''</span><span style="color:#924c9d;">\'</span><span style="color:#bf0303;">'''</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">b'\u1234a</span><span style="color:#924c9d;">\xff</span><span style="color:#bf0303;text-decoration:underline;">é</span><span style="color:#924c9d;">\12</span><span style="color:#bf0303;">k</span><span style="color:#924c9d;">\n</span><span style="color:#bf0303;">\g</span><span style="color:#924c9d;">\</span>
<span style="color:#bf0303;">s</span><span style="color:#924c9d;">\</span>
<span style="color:#924c9d;">\&quot;</span><span style="color:#bf0303;">\ '</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#e31616;">rb'\u1234a</span><span style="color:#bf0303;text-decoration:underline;">é</span><span style="color:#e31616;">\n\g\</span>
<span style="color:#e31616;">'</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">b&quot;&quot;&quot;&quot;&quot;&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">b&quot;&quot;&quot;</span><span style="color:#924c9d;">\&quot;</span><span style="color:#bf0303;">&quot;&quot;&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'a'</span> \
    <span style="color:#bf0303;">u'</span><span style="color:#924c9d;">\x12</span><span style="color:#bf0303;">'</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">b&quot;t\e's</span><span style="color:#924c9d;">\t</span><span style="color:#bf0303;">&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#e31616;">rb&quot;t\e's\t&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#e31616;">r&quot;\\&quot;</span> \
<span style="color:#e31616;">rb'\\'</span> \
<span style="color:#e31616;">rf&quot;&quot;&quot;\\&quot;&quot;&quot;</span> \
<span style="color:#e31616;">ur'''\\'''</span>

<span style="color:#898887;">&quot;Escapes in Doc/Comment String </span><span style="color:#924c9d;">\u1234</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\xAb</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\&quot;\\</span><span style="color:#898887;">&quot;</span>
<span style="color:#898887;">''' Doc/Comment String </span><span style="color:#924c9d;">\N{123}</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\'</span><span style="color:#898887;">'''</span>
<span style="color:#898887;">&quot;&quot;&quot; Doc/Comment String </span><span style="color:#924c9d;">\17</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\x1f</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\n</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\&quot;</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\\</span><span style="color:#898887;">&quot;&quot;&quot;</span>

<span style="color:#898887;"># Decimal, Hex, Binary, Octal</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1_2_34L</span>
b <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">0_0_00_0</span>
c <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">0xA_3f_43D</span>
d <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">0b0_0_1_01</span>
e <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">0o71_2_34</span>
<span style="color:#898887;"># Float</span>
d <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1.1E+3</span>
e <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1.E+3</span>
f <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">.1E+3</span>
g <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1E+3</span>
h <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1.1</span>
i <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1.</span>
j <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">.1</span>
k <span style="color:#ca60ca;">=</span>  <span style="color:#b08000;">1</span>
l <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">1_0.e+3_22</span> <span style="color:#ca60ca;">+</span> <span style="color:#b08000;">.2_1e2</span> <span style="color:#ca60ca;">+</span> <span style="color:#b08000;">11_1.</span>
<span style="color:#898887;"># Complex</span>
m <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1.1E+3j</span>
n <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1.E+3j</span>
o <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">.1E+3j</span>
p <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1E+3j</span>
q <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1.1j</span>
r <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1.j</span>
s <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">.1j</span>
t <span style="color:#ca60ca;">=</span>  <span style="color:#006e28;">1j</span>
u <span style="color:#ca60ca;">=</span> <span style="color:#006e28;">1_0.e+3_22j</span> <span style="color:#ca60ca;">+</span> <span style="color:#006e28;">.2_1e2j</span> <span style="color:#ca60ca;">+</span> <span style="color:#006e28;">11_1.j</span>

<span style="color:#898887;"># Invalid numbers</span>
aaa.<span style="color:#bf0303;text-decoration:underline;">123</span>
aaa123
<span style="color:#b08000;">.0</span><span style="color:#bf0303;text-decoration:underline;">x123</span>

<span style="color:#898887;"># match and case keywords</span>
foo(
    <span style="color:#898887;"># no keyword</span>
    match <span style="font-weight:bold;">if</span> xx <span style="font-weight:bold;">else</span> yyy
)
match <span style="color:#ca60ca;">=</span> <span style="color:#b08000;">3</span>
match.foo()
<span style="font-weight:bold;">match</span> command.split():
    <span style="font-weight:bold;">case</span> [<span style="color:#bf0303;">&quot;quit&quot;</span>]:
        <span style="color:#644a9b;font-weight:bold;">print</span>(<span style="color:#bf0303;">&quot;Goodbye!&quot;</span>)

match(command.split())
<span style="font-weight:bold;">match</span>(command.split()):
    <span style="font-weight:bold;">case</span> [<span style="color:#bf0303;">&quot;quit&quot;</span>]:
        <span style="color:#644a9b;font-weight:bold;">print</span>(<span style="color:#bf0303;">&quot;Goodbye!&quot;</span>)

<span style="color:#898887;">&quot;</span><span style="color:#924c9d;">\\\\\\\\\\</span><span style="color:#898887;">ENSURE THAT THIS AND THE FOLLOWING LINES ARE AT THE </span><span style="color:#0057ae;background-color:#e0e9f8;">END</span><span style="color:#898887;"> OF THE FILE</span><span style="color:#924c9d;">\\\\\\\\\\</span><span style="color:#898887;"> </span><span style="color:#924c9d;">\</span>
<span style="color:#898887;">&quot;</span>
a <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'otherwise all succeeding lines will be</span>
<span style="color:#bf0303;text-decoration:underline;">stuck on the Error attribute'</span>
<span style="color:#bf0303;text-decoration:underline;">br&quot;Strings delimited by single quotes (' or &quot;)</span>
<span style="color:#bf0303;text-decoration:underline;">can NOT be defined across multiple lines</span>
<span style="color:#bf0303;text-decoration:underline;">unless escaped with \</span>
<span style="color:#bf0303;text-decoration:underline;">&quot;</span>
</pre></body></html>
